#!/bin/bash

curl https://goteleport.com/static/install.sh | bash -s ${TELEPORT_VERSION} ${TELEPORT_EDITION}
sudo teleport install systemd -o /etc/systemd/system/teleport.service

systemctl start teleport